<div class="container mt-5 py-4 px-3">
  <h1>
    <span *ngFor="let t of title; let even = even; let odd = odd" [ngClass]="{even: even, odd: odd}">{{t}}</span>
  </h1>
  <h3>SUNDAY, DECEMBER 07 2019 - 10PM <br>
    DIRIYAH, SAUDI ARABIA</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-left fight-time-eta">(ETA)</p>
      <div class="form">
        <div class="btn-group btn-group-fighters" btnRadioGroup [(ngModel)]="radioModel" *ngFor="let m of matches; let i = index">
          <label class="btn btn-fight-time" btnRadio="{{m.image}}">{{m.time}}</label>
        </div>
        <ul class="bar">
          <li [ngClass]="radioModel === m.image ? 'active-shadow' : ''" *ngFor="let m of matches; let i = index"></li>
        </ul>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div>
        <ng-container *ngIf="radioModel">
          <img [ngClass]="!radioModel ? 'fade-out': 'fade-in'" src="../../assets/images/{{radioModel}}" alt="">
        </ng-container>
      </div>
    </div>
  </div>
</div>

