@import "~bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import url("https://use.typekit.net/hxk2vem.css");
@import "./assets/scss/normalizer.css";

body {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
  color: #fff;
}

h1 {
  font-family: "Nimbus Sans Extd";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: #000;
}

h3 {
  font-family: "Nimbus Sans Extd";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.even {
  text-shadow: 1px 1px 0 #d43b38, -1px -1px 0 #d43b38, 1px -1px 0 #d43b38,
    -1px 1px 0 #d43b38, 1px 1px 0 #d43b38;
}
.odd {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}

img {
  min-width: 380px;
  max-width: 100%;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn-check:focus + .btn,
.btn:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: non;
}
